.header {
  background:#ff6d00;
  margin: 0 auto;
  margin-bottom: 3rem;
  padding: 3rem;

}

.subtitle{
  max-width: 60rem;
  margin: 0 auto;
  padding: 0;
  color: rgba(0, 0, 0, 0.61);
}

.title{
  max-width: 60rem;
  margin: 0 auto;
  padding: 0;
}