.flex{
  display: flex;

  &-row{
    flex-direction: row;
  }

  &-column{
    flex-direction: column;
  }
}

.v{
  &-center{
    justify-content: center;
  }
  &-baseline{
    justify-content: baseline;
  }
}


.h{
  &-center{
    align-items: center;
  }
  &-right {
    align-items: right;
  }

  &-flex-left{
    align-items: flex-start;
  }

  &-flex-right{
    align-items: flex-end;
  }

  &-space--between{
    justify-content: space-between;
  }

}