// rem
html{
  font-size: 62.5%;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: white;
  margin: 0;
  box-sizing: border-box;
}


h1 {
  font-size: $m-size;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}